<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/operationDelete.css" />
</head>
<%- include ("./components/navbar.ejs") %>
<body class="UR-body">
    <header>
        <h2>Update Your Profile</h2>
    </header>
    <div class="container" style="display:flex;">
        <div class="delete-form" style="margin: auto;">
          <form class="UR-form" action="/customer/updateProfile" method="POST">
            <div class="mb-3 urf-named">
              <p>Which field do you want to update?</p>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1">
                <label class="form-check-label" for="exampleRadios2">
                  email
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option2">
                <label class="form-check-label" for="exampleRadios3">
                  Street
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
                <label class="form-check-label" for="exampleRadios4">
                  City
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option4">
                <label class="form-check-label" for="exampleRadios5">
                  State
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="option5">
                <label class="form-check-label" for="exampleRadios6">
                  Mobile No.
                </label>
              </div>
            </div>
            <div class="mb-3 urf-named">
              <input name="correctedInfo" type="text" required class="form-control urf-namei"
                id="formGroupExampleInput2" placeholder="Write the updated Value">
            </div>
            <button type="submit" class="btn btn-primary signupBtn" id='updateBtn'>Update</button>
          </form>
        </div>

      </div>
      
      <header>
        <h2>Your Appointment Catalog</h2>
    </header>
    <div class="tableDiv">
     <center> <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Sr no.</th>
            <th scope="col">Service</th>
            <th scope="col">Price</th>
            <th scope="col">Service Start Date</th>
            <th scope="col">Service Completion Date</th>
            <th scope="col">Status</th>
            <th scope="col">Employee Name</th>

          </tr>
        </thead>
        <tbody style="color: white;">  

          <% if(userData.length!=0) { var i=1; userData.forEach(function(data){ %>
            <tr>
              <th scope="row" style="color: white;">
                <%=i %>
              </th>
              <td style="color: white;">
                <%=data.service_name %>
              </td>
              <td style="color: white;">
                <%=data.price %>
              </td>
              <td id="start_date"style="color: white;">
              </td>
              <script>
                const sd = new Date("<%=data.start_date %>");
                document.getElementById("start_date").innerHTML = sd.getDate()+ '/';
                document.getElementById("start_date").innerHTML += sd.getMonth()+1+'/';
                document.getElementById("start_date").innerHTML += sd.getFullYear();
                </script>
              <td id="complete_date" style="color: white;">
                <!-- <%=data.Complete_dt %> -->
              </td>
              <script>
                const cd = new Date("<%=data.Complete_dt %>");
                document.getElementById("complete_date").innerHTML = cd.getDate()+ '/';
                document.getElementById("complete_date").innerHTML += cd.getMonth()+1+'/';
                document.getElementById("complete_date").innerHTML += cd.getFullYear();
                </script>

              <td style="color: white;">
                <%=data.Status %>
              </td>
              <td style="color: white;">
                <%=data.Employee_name %>
              </td>
            </tr>
            <% i++; }) %>
              <% } else{ %>
                <tr>
                  <td colspan="7" style="color: white;">No Data Found</td>
                </tr>
                <% } %>

        </tbody>
      </table>
    </center>
    </div>
    
</body>
 <!-- Option 1: Bootstrap Bundle with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
 
 </html>