<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet/less" type="text/css" href="/css/appointment.scss">
    <script src="https://cdn.jsdelivr.net/npm/less@4.1.1"></script>
    <title>Welcome to iCars services</title>
</head>

<%- include ("./components/navbar.ejs") %>

    <body class="db-body">

        <h1 class="heading">
            Appointment Form
        </h1>
       
            <div class="form">

                <form class="UR-form" action="/customer/take-appointment" method="POST">

                    <div class="mb-3 form-components"> 
                        <label for="formGroupExampleInput" style="text-align:left;">Select Your Vehicle </label>
                        <select class="form-select" name="vehicles" aria-placeholder="Vehicle Type" aria-label="Default select example">

                            <option selected="selected" disabled="disabled">Select your Vehicle</option> 
                            <!-- Write a query to fetch the vehicle table and show the names -->
                             <% if(data1.length!=0) { var i=1; data1.forEach(function(data){ %>
                                <option value=<%= data.chasis_no %>><%= data.model_name %></option>
                                <% i++; }) %>
                                  <% } 
                              %>
                        </select>
                    </div>
                    
                    <div class="mb-3 form-components">
                        <label for="formGroupExampleInput" style="text-align:left;">Select services</label>
                        <select class="form-select" name="jobs" aria-placeholder="Vehicle Type" aria-label="Default select example">
                           
                            <option selected="selected" disabled="disabled">Select a Service</option> 
                             <% if(data2.length!=0) { var i=1; data2.forEach(function(data){ %>
                                <option value= <%= i-1 %>><%= data.job_name %></option>
                                <% i++; }) %>
                                  <% } %>                   
                        </select>
                    </div>

                    <div class="mb-3 urf-named license">
                        <label for="formGroupExampleInput" style="text-align:left;">License No</label>
                        <input name="license" type="text" required class="form-control urf-namei"
                            id="formGroupExampleInput" placeholder="License No.">
                    </div>

                    <div class="date_of_appointment">
                        <label for="formGroupExampleInput" style="text-align:left;" >Appointment Date</label>
                        <input type="date" class="dates" name="date">
                    </div>
                    <div class="mb-3 urf-named">
                        <label for="formGroupExampleInput" style="text-align: left;" >Address</label>
                        <textarea class="form-control urf-namei urf-address" aria-label="address"
                          name="address"  placeholder="Address Line 1"></textarea>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 urf-named">
                         <label for="inputCity" style="text-align:left;">City</label>
                          <input type="text" name="city" class="form-control cities" placeholder="city" id="inputCity">
                        </div>
                        <div class="form-group col-md-4 urf-named">
                         <label for="inputState"style="text-align:left; margin-left:1.2rem">State</label>
                          <input type="text" name="state" class="form-control states" placeholder="state" id="inputCity">
                        </div>
                    </div>
                    
                    <div class="mb-3 urf-named">
                        <textarea class="form-control urf-namei urf-address" aria-label="address"
                            placeholder="Other details you want to mention"></textarea>
                    </div>
                    <center><button type="submit" class="btn btn-primary signupBtn">Book</button>
                    <div class="refer_back" style="margin-top:1rem"><a href="#"
                            style="text-decoration: none;color:white;">T&C'S</a> </div></center>
                </form>

            </div>
    


    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
        </script>

</html>