<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/services.css">
  <style>
   
  </style>
  <title>View Appointments</title>
</head>

<%- include ("./components/navbar1.ejs") %>

  <body>
    <div class="heading">Appointments</div>

    <div class="tableDiv">
     <center> <table class="table tabs table-striped">
        <thead>
          <tr>
            <th scope="col" style="width:10%;">#</th>
            <th scope="col" style="width:10%;">Customer-id</th>
            <th scope="col" style="width:15%;">Chasis_no</th>
            <th scope="col" style="width:15%;">Assign_date</th>
            <th scope="col" style="width:15%;">Job</th>
            <th scope="col" style="width:10%;">Status</th>
            <th scope="col" style="width:25%;text-align: center;">Assignee</th>
            
          </tr>
        </thead>
        <tbody>

          <% if(apps.length!=0) { var i=1; apps.forEach(function(data){ %>
            <tr>
              <th scope="row" style="width:10%;">
                <%= i %>
              </th>
              <td style="width: 10%;">
                <%=data.customer_id %>
              </td>
              <td style="width:15%;">
                <%=data.chasis_no%>
              </td>
              <td style="width:15%;" id="demo">
                <%= data.date %>
              </td>
              <td style="width:15%;">
                <%=data.job_name%>
              </td>
              <td style="width:10%;">
                <%=data.Status%>
              </td>
              <td style="width:25%; text-align: center;">
                <%= data.name %>
              </td>
            </tr>
            <% i++; }) %>
              <% } else{ %>
                <tr>
                  <td colspan="7">No Data Found</td>
                </tr>
                <% } %>

        </tbody>
      </table>
    </center>
    </div>


  </body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
    <script>
      const d=document.getElementById('demo').innerHTML;
      document.getElementById("demo").innerHTML = d.getDate()+ '/';
      document.getElementById("demo").innerHTML += d.getMonth()+1+'/';
      document.getElementById("demo").innerHTML += d.getFullYear();
    </script>

</html>

